<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block zhuye %}<title>主页</title>{% endblock  %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>生活的开始</h1>
        <a href='/sai001/'>音乐世家</a>
        <a href='/sai002/'>舞蹈世家</a>
        {% block mainbody %}
        <p>世家</p>
        {% endblock  %}
        <script src="" async defer></script>
    </body>
</html>